<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WindowsApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
	
  </configSections>
  <appSettings>
	<add key="timeout" value="0" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="gibddEntities" connectionString="metadata=res://*/Database.gibddModel.csdl|res://*/Database.gibddModel.ssdl|res://*/Database.gibddModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=db-aws.rndn.ga;initial catalog=gibdd;persist security info=True;user id=app;password=CallMeBigDeuce123;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="WindowsApp.Properties.Settings.gibddDataSetConnectionString"
      connectionString="Data Source=db-aws.rndn.ga;Initial Catalog=gibdd;Persist Security Info=True;User ID=app;Password=CallMeBigDeuce123"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <WindowsApp.Properties.Settings>
      <setting name="sec" serializeAs="String">
        <value>0</value>
      </setting>
    </WindowsApp.Properties.Settings>
  </applicationSettings>
</configuration>